DNA-Rendering/
I3D-Human/
ZJU-MoCap/
output/
logs/
build/
*.so
*.o
*.a
*.egg-info/
submodules/simple-knn/build/
submodules/simple-knn/simple_knn.egg-info/
smpl_model/models/*.pkl
smpl_model/models/*.npz
smpl_model/models/**/*.pkl
smpl_model/models/**/*.npz
*.log
*.pth
*.pt
*.ckpt
__pycache__/
*.pyc
third_party/vggt/
